<!-- This is a static file -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Discord SpoilerBot</title>
    <meta name="description" content="A Discord bot that hides spoilers in your server.">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

  </head>
  <body>
    <header>
      <h1>
        SpoilerBot
      </h1>
    </header>

    <main>
      <p class="bold">A Discord bot that hides spoilers in your server.</p>
      <p>Add it to your server by clicking <a href="https://discordapp.com/oauth2/authorize?client_id=477634218999152641&scope=bot&permissions=25600">here.</a></p>
    </main>

    <footer>
      Made by <a href="https://bobbysig.github.io/">Bobby Signor</a>.
    </footer>
  </body>
</html>
